@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --orange: green;
    --black:  #130f40;
    --light-color: #666;
    --grey-light: #eee;
    --white: #fff;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1); 
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: var(--grey-light);
}

section {
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    margin-top: 2rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    color: var(--white);
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-transform: uppercase;
    background: none
}

.btn:hover{
    background: var(--orange);
    color: var(--white)
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--orange);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}

.header a .logo-color{
    color: var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    border-radius: .5rem;
    background: var(--grey-light);
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color: var(--white)
}

#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: var(--white);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--orange);
}
/************Shopping cart********************/
.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 45rem;
    background: var(--white);
}
.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}
.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 15rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: red;
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.5rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

/* *************Login****************** */
.header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--white);
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin: .7rem 0;
    background: var(--grey-light);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color)
}

.header .login-form p a{
    color: var(--orange);
    text-decoration: underline;
}
 /************Section Acceuil **************************************/


 .home .content{
     text-align: center;
     display: flex;
     align-items: center;
     position: relative;
     top: 6.5rem;
     box-shadow: var(--box-shadow);
     border: 5px solid red;
 }

 .home .content .content-text h3{
     color: var(--black);
     font-size: 3rem;
 }

 .home .content .content-text h3 span{
    color: var(--orange);
}

.home .content .content-text p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
    border: 5px solid grey;
    width: 50rem;
}
.home .content .content-img{
    display: flex;
    justify-content: flex-end;
}
/**** Tendance du moment ****/
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    padding: 3rem 2rem;
    background: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.products .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.products .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.products .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.products .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}
/*****Nos Produits***/
.products-sliders .products_slider{
    padding: 1rem;
}

.products-sliders .products_slider:first-child{
    margin-bottom: 2rem;
}

.products-sliders .products_slider .box{
    background: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products-sliders .products_slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.products-sliders .products_slider .box img{
    height: 25rem;
}

.products-sliders .products_slider .box h3{
    font-size: 2.5rem;
    color: var(--black);
}

.products-sliders .products_slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products-sliders .products_slider .box .stars i{
    font-size: 1.5rem;
    color: gold;
    padding: .5rem 0;
}

/***Categories */
.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    margin: 1rem 0;
    height: 25rem;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/****************************Media* queries***********************************/
@media (max-width: 1200px){
    .home .content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .content .content-text{
        position: relative;
        top: 9rem;
    }
    .home .content .content-img{
        width: 60%;
        height: 60%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .search-form{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--white);
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }
}



/***Profi Style **/
.body-user{
   overflow: hidden;
   color: var(--grey-light);
}

.span-reset{
    font-size: 30px;
    cursor: pointer;
    color: var(--white);
}

.clearfix{
    clear: both;
}

.logo-nav{
    margin-left: 28px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 30px;
    font-size: 20px;
}

.logo-nav span{
    color: var(--orange);
}

.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow: hidden;
    transition: .5s;
    padding-top: 30px;
}

.sidenav a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--light-color);
    display: block;
    transition: .3s;
}

.sidenav a:hover{
    color: var(--white);
    background-color: var(--orange);
}

#main-user{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
}

.head-user{
    padding: 20px;
}

.col-div-6{
    width: 50%;
    float: left;
}

.profile{
    display: inline-block;
    float: right;
    width: 160px;
}

.pro-img{
    float: left;
    width: 40px;
    margin-top: 5px;
}

.profile p{
    color: var(--white);
    font-weight: 500;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 25px;
}
.nav2{
    display: none;
}
.col-div-3{
    width: 25%;
    float: left;
    /*color: var(--black);*/
    font-size: 1.5rem;
}
.box-user{
    width: 85%;
    height: 100px;
    background-color: var(--orange);
    margin-left: 10px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.box-user p{
    font-size: 20px;
    color: var(--white);
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.box-user p span{
    font-size: 18px;
    font-weight: 400;
    color: var(--white)
}

.box-icon{
    font-size: 15px !important;
    float: right;
    margin-top: 27px !important;
    color: var(--white);
    padding-right: 10px;
}

.col-div-8{
    width: 70%;
    float: left;
}

.col-div-4{
    width: 30%;
    float: left;
}

.content-box-user{
    padding: 20px;
}
.content-box-user p{
    margin: 0;
    font-size: 20px;
    color: #f7403b;
}

.content-box-user p span{
    float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}

.box-8, .box-4{
    width: 96.5%;
    background-color: var(--orange);
    height: 330px;
    box-shadow: var(--box-shadow);
}

.box-8{
    margin-left: 10px;
    width: 95%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 15px;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    font-size: 1.3rem;
}

.circle-wrap{
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .circle .mask{
    clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #f7403b;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill{
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
}

@keyframes fill {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(126deg);
    }
}

.circle-wrap .inside-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    color:#130f40;
}